<form>
    <div class="mb-3">
        <label for="Pn" class="form-label">Nom du projet :</label>
        <input type="text" name="Pn" value="131635454" class="form-control" disabled="disabled" aria-describedby="">
    </div>
    <div class="mb-3">
        <label for="Ac" class="form-label">Activité :</label>
        <input type="text" name="Ac" value="131635454" class="form-control" disabled="disabled" aria-describedby="">
    </div>
    <div class="mb-3">
        <label for="Bd" class="form-label">Budget :</label>
        <input type="text" name="Bd" value="131635454" class="form-control" disabled="disabled" aria-describedby="">
    </div>
    <div class="mb-3">
        <label for="Db" class="form-label">Délai de réalisation (date butoir) :</label>
        <input type="text" name="Db" value="131635454" class="form-control" disabled="disabled" aria-describedby="">
    </div>
    <h3>Explication de la marque</h3>
    <div class="mb-3">
        <label for="ex" class="form-label-misc">Explication de la marque et des valeurs de la marque :</label>
        <textarea type="text" name="ex" class="form-control" disabled="disabled" aria-describedby="">
            vrgfzregkrzogk
        </textarea>
    </div>
    <div class="mb-3">
        <label for="cs" class="form-label-misc">Couleurs souhaitées et pourquoi :</label>
        <input type="text" name="cs" value="131635454" class="form-control" disabled="disabled" aria-describedby="">
    </div>
    <div class="mb-3">
        <label for="cns" class="form-label-misc">Couleurs non souhaitées et pourquoi :</label>
        <input type="text" name="cns" value="131635454" class="form-control" disabled="disabled" aria-describedby="">
    </div>
    <h3>Exemples de Logos appréciés</h3>
    
    <template id="template_project">
        <div class="template_card mt-1 w-25">
                <div class="div_img_prjt">
                    <img src="#" class="project-img w-100 h-100" alt="Image projet">
                    <div>
                        <i class="fa-solid fa-x"></i>
                    </div>
                </div>
        </div>
    </template>
    <div class="img-list d-flex flex-wrap mb-3">

    </div>

    <template id="template_project2">
        <div class="template_card mt-1 w-25">
                <div class="div_img_prjt">
                    <img src="#" class="project-img2 w-100 h-100" alt="Image projet">
                    <div>
                        <i class="fa-solid fa-x"></i>
                    </div>
                </div>
        </div>
    </template>
    <div class="img-list2 d-flex flex-wrap mb-3">

    </div>
    <h3>Autres marques concurrentes à la votre</h3>
    <div class="mb-3">
        <label for="mc" class="form-label-misc">* C’est une indication supplémentaire</label>
        <input type="text" name="mc" value="131635454" class="form-control" disabled="disabled" aria-describedby="">
    </div>
    <h3>Utilisation du logo</h3>
    <div class="mb-3">
        <label for="su" class="form-label-misc">Quels seront les supports sur lesquels votre logo sera utilisé ?</label>
        <input type="text" name="su" value="131635454" class="form-control" disabled="disabled" aria-describedby="">
    </div>
    <div class="mb-3">
        <div>
            <input type="radio" name="oui" checked disabled="disabled">
            <label for="huey">Oui</label>
        </div>
        <div>
            <input type="radio" name="non" disabled="disabled">
            <label for="non">Non</label>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="mb-3">
                <label for="fm" class="form-label-misc">Quel(s) format(s) d’image souhaitez-vous (Jpg, Tiff, Png) ?</label>
                <input type="text" name="fm" value="131635454" class="form-control" disabled="disabled" aria-describedby="">
            </div>
        </div>
        <div class="col">
                <div class="mb-3">
        <div>
            <input type="radio" name="oui" checked disabled="disabled">
            <label for="huey">Oui</label>
        </div>
        <div>
            <input type="radio" name="non" disabled="disabled">
            <label for="non">Non</label>
        </div>
    </div>
        </div>
    </div>
</form>