{% extends 'base.html.twig' %}

{% block title %}Projet{% endblock %}

{% block body %}
<section class="nouveau_projet">
<div class="brand-logo"><img src="https://st.depositphotos.com/1005574/2401/v/450/depositphotos_24012089-stock-illustration-gold-button.jpg"><img src="https://st.depositphotos.com/1005574/2401/v/450/depositphotos_24012089-stock-illustration-gold-button.jpg"><img src="https://st.depositphotos.com/1005574/2401/v/450/depositphotos_24012089-stock-illustration-gold-button.jpg"></div>
    {{ include('project/project_logo/logo_info.html.twig') }}
    {% if is_granted('ROLE_ADMIN') and project.statut == null %}
    <div class=" d-flex flex-wrap align-items-center justify-content-around">
        <a href="{{path('admin_project_validate', {'id': project.id, 'type': project.type})}}" onclick="return confirm('Êtes-vous sûr de votre choix ?')" class="ValidBtn">VALIDER LE PROJET</a>
        <a href="{{path('admin_project_delete', {'id': project.id, 'type': project.type})}}" onclick="return confirm('Êtes-vous sûr de votre choix ?')" class="NoValidBtn">REFUSER LE PROJET</a>
    </div>
    {% elseif is_granted('ROLE_EXPERT') %}
        <a href="{{path('app_devis', {"id" : project.id, "type" : project.type})}}" class="btn">Proposez votre devis</a>
    {% endif %}
</section>
{% endblock %}