{% extends 'base.html.twig' %}

{% block title %}Nouveau projet{% endblock %}

{% block body %}
    <h1 id="h1_nouveau_projet">Créer mon projet</h1>

<section class="nouveau_projet">
<div id="div_nouveau_projet">
<p id="p_nouveau_projet"><span class="span_nouveau_projet">{{app.user.firstname}}</span>,<br>vous avez décidé de soumettre votre projet à l'un de nos experts. Remplissez ce formulaire et <span class="span_nouveau_projet">soyez le plus précis possible dans la description</span>, afin que nos experts puissent vous proposer
<span class="span_nouveau_projet">un devis adapté à vos attentes.</span>
</p>
</div> 
<div class="brand-logo"><img src="https://st.depositphotos.com/1005574/2401/v/450/depositphotos_24012089-stock-illustration-gold-button.jpg"><img src="https://st.depositphotos.com/1005574/2401/v/450/depositphotos_24012089-stock-illustration-gold-button.jpg"><img src="https://st.depositphotos.com/1005574/2401/v/450/depositphotos_24012089-stock-illustration-gold-button.jpg"></div>
    {{ include('project/project_logo/_form_logo.html.twig') }}
</section>
{% endblock %}