{% extends 'base.html.twig' %}

{% block title %}Réinitialisation du mot de passe
{% endblock %}

{% block body %}
	<main class="container my-3">
		<section class="row">
			<div class="col">
            <h1>Réinitialisation du mot de passe</h1>
            {{form_start(requestPassForm)}}
            {{ form_row(requestPassForm.email)}}
            <button type="submit" class="btn btn-dark">Valider</button>
            {{form_end(requestPassForm)}}
            </div>
		</section>
	</main>
{% endblock %}