{% extends 'base.html.twig' %}

{% block title %}Nos Offres de packs
{% endblock %}

{% block body %}
	 <aside id="h1_p_offres">
    <p>Pour un projet sur mesure<br> lancez vous gratuitement</p>
    </aside>
    <main id="offres">
		<section id="cards">
			<div class="card_complete">
				<div class="card_top">
					<h3>Gratuit</h3>
					<p class="offre_grand">€ 0</p>
					<p class="offre_moyen">Confiez-nous votre problématique</p>
					<p class="offre_petit">Valable 3 mois.</p>
					<button class="btn_offres"><a id="a_offres" href="{{ path('app_project_new') }}">Je me lance !</a></button>

				</div>
				<div class="card_bottom">
					<ul>
						<li><i class="fa-sharp fa-solid fa-circle-check"></i> Déposez votre projet</li>
						<li><i class="fa-sharp fa-solid fa-circle-check"></i> Obtenez un ou plusieurs devis</li>
					</ul>
                    <div>
                    <img id="img_card1" src="{{asset('assets/img/offre1.svg')}}">
                    </div>
				</div>
			</div>
		</section>
	</main>
{% endblock %}
