{% extends 'base.html.twig' %}

{% block title %}Projet{% endblock %}

{% block body %}
<section class="nouveau_projet"> 
<div class="brand-logo"><img src="https://st.depositphotos.com/1005574/2401/v/450/depositphotos_24012089-stock-illustration-gold-button.jpg"><img src="https://st.depositphotos.com/1005574/2401/v/450/depositphotos_24012089-stock-illustration-gold-button.jpg"><img src="https://st.depositphotos.com/1005574/2401/v/450/depositphotos_24012089-stock-illustration-gold-button.jpg"></div>
    {{ include('project/project_réseaux/reseaux_info.html.twig') }}
    {% if is_granted('ROLE_ADMIN') %}
    <div class=" d-flex flex-wrap align-items-center justify-content-around">
        <a href="#" onclick="return confirm('Êtes-vous sûr de votre choix ?')" class="ValidBtn">VALIDER LE PROJET</a>
        <a href="{{path('app_project_delete', {'csrf':'delete'})}}" onclick="return confirm('Êtes-vous sûr de votre choix ?')" class="NoValidBtn">REFUSER LE PROJET</a>
    </div>
    {% elseif is_granted('ROLE_EXPERT') %}
        <a href="#">Proposer votre devis</a>
    {% endif %}
    {% endif %}
</section>
{% endblock %}