{% extends 'base.html.twig' %}

{% block title %}Politique de Confidentialité
{% endblock %}

{% block body %}
	<main id="polconf_main">
		<h1 id="polconf_h1">Politique de confidentialité
		</h1>
		<p>
			La société MESNIL BIEN ÊTRE, société par actions simplifiée au capital de 2.000,00 euros, immatriculée au registre du commerce et des sociétés de Rouen sous le numéro 889 017 620 et dont le siège social se situe 120 route de Paris – 76240 Le Mesnil-Esnard, France (ci-après dénommée « MESNIL BIEN ÊTRE » et/ou l’« Éditeur »), en sa qualité de responsable du traitement des données à caractère personnel, attache une grande importance à la protection et au respect de la vie privée.
		</p>
		<p>La présente politique de confidentialité vise à informer, lors de la navigation sur le site internet disponible à l’adresse: www.soustraitesmoi.fr (ci-après dénommé le « Site») et/ou lors de l’utilisation de l’application mobile SOUSTRAITES MOI (ci-après dénommée l’ « Application »), toute personne utilisant le Site et/ou l’Application (ci-après dénommée les « Utilisateurs ») des pratiques de MESNIL BIEN ÊTRE concernant les conditions de la collecte, de l’utilisation et du partage des informations que les Utilisateurs sont amenés à fournir ainsi que leurs droits</p>
		<p>Le Site et l’Application sont conformes aux normes françaises et européennes relative à la protection de la vie privée et des données personnelles et notamment à la loi n°78-17 dite « Informatique et Libertés » du 6 janvier 1978 relative à l’informatique, aux fichiers et aux libertés, modifiée par la loi 2004-801 du 6 août 2004 et au Règlement (UE) 2016/679 du Parlement européen et du Conseil du 27 avril 2016 dit le                           « RGPD » relatif à la protection des personnes physiques à l’égard du traitement des données à caractère personnel et à la libre circulation de ces données.
		</p>
		<p>Le Site et l’Application sont conformes aux normes françaises et européennes relative à la protection de la vie privée et des données personnelles et notamment à la loi n°78-17 dite « Informatique et Libertés » du 6 janvier 1978 relative à l’informatique, aux fichiers et aux libertés, modifiée par la loi 2004-801 du 6 août 2004 et au Règlement (UE) 2016/679 du Parlement européen et du Conseil du 27 avril 2016 dit le                           « RGPD » relatif à la protection des personnes physiques à l’égard du traitement des données à caractère personnel et à la libre circulation de ces données.
		</p>
		<p class="polconf_chapitres">1. Responsable du traitement des données à caractère personnel collectées</p>
		<p>Le responsable de traitement des données à caractère personnel est MESNIL BIEN ÊTRE.</p>
		<p class="polconf_chapitres">2. Nature des données collectées
		</p>
		<p>Les données collectées sur le Site dans le cadre de l'utilisation du Site et/ou sur l’Application dans le cadre de l’utilisation de l’Application, sont celles permettant à l'Éditeur d’identifier les Utilisateurs directement ou indirectement.<br><br>
			Il peut s’agir des catégories de données suivantes concernant ses Utilisateurs :
		</p>
		<ul>
			<li>* données d'état-civil, d'identité, d'identification comme le nom, le prénom, le pseudonyme, l’adresse email, la date de naissance;
			</li>
			<li>* données relatives à la vie personnelle comme les habitudes de vie, la situation familiale à l’exclusion de toutes données dites sensibles ou dangereuses (par exemple les données médicales);</li>
			<li>* données de connexion comme l’adresse IP et des données de navigation comme les cookies.
			</li>
		</ul>
		<p>Les Utilisateurs qui communiqueraient les données personnelles d’un tiers devront confirmer qu’ils détiennent bien le consentement de ce tiers quant à l’exploitation par le Site et/ou par l’Application, à la publication et/ou à la diffusion sur le Site et/ou sur l’Application des données personnelles de ce dernier.
		</p>
		<p class="polconf_chapitres">3. Finalité des données personnelles collectées
		</p>
		<p class="polconf_chapitres">3.1. Les données personnelles collectées sur le Site et/ou sur l’Application sont utilisées seulement pour et pendant l'exécution des services pour les finalités suivantes :
		</p>
		<ul>
			<li>* enregistrement et authentification de l’Utilisateur ;</li>
			<li>* permettre à MESNIL BIEN ÊTRE de préparer et de livrer les produits commandés à l’Utilisateur;</li>
			<li>* permettre à MESNIL BIEN ÊTRE de contacter et/ou d’envoyer des messages à l’Utilisateur;</li>
			<li>* permettre à MESNIL BIEN ÊTRE d’adresser des newsletters aux Utilisateurs;
			</li>
			<li>* permettre aux Utilisateurs de bénéficier du programme de fidélité et de parrainage de MESNIL BIEN ÊTRE;
			</li>
			<li>* gestion des avis des Utilisateurs sur des produits, services ou contenus.</li>
		</ul>
		<p>Par ailleurs, MESNIL BIEN ÊTRE est susceptible d’utiliser les données pour satisfaire, le cas échéant, ses obligations légales et/ou règlementaires.</p>
		<p class="polconf_chapitres">3.2. Agrégation des données
		</p>
		<p class="polconf_chapitres">3.2.1. Agrégation avec des données non personnelles
		</p>
		<p>MESNIL BIEN ÊTRE se réserve la possibilité de publier, divulguer et utiliser les informations agrégées (informations relatives aux Utilisateurs ou à des groupes ou catégories spécifiques d’Utilisateurs combinées de manière à ce qu’un Utilisateur individuel ne puisse plus être identifié ou mentionné) et les informations non personnelles à des fins d’analyse du secteur et du marché, de profilage démographique, à des fins promotionnelles et publicitaires et à d’autres fins commerciales.
		</p>
		<p class="polconf_chapitres">3.2.2. Agrégation avec des données personnelles disponibles sur les comptes sociaux de l’Utilisateur
		</p>
		<p>Si l’Utilisateur se connecte à son compte à partir d’un compte d’un autre service afin de faire des envois croisés, ledit service pourra communiquer à MESNIL BIEN ÊTRE les informations de profil, de connexion, ainsi que toute autre information de l’Utilisateur dont il aurait autorisé la divulgation.  MESNIL BIEN ÊTRE peut agréger les informations relatives aux Utilisateurs, groupes, comptes, aux données personnelles disponibles sur l’Utilisateur.
		</p>
		<p class="polconf_chapitres">4. Moment de la collecte</p>
		<p>Les données collectées par MESNIL BIEN ÊTRE sont librement communiquées par les Utilisateurs.<br>
			Elles peuvent aussi être collectées automatiquement lors de l’utilisation du Site, notamment lorsque l’Utilisateur :</p>
		<ul>
			<li>* navigue sur les pages du Site et ce, sans même avoir créé de compte ;</li>
			<li>* crée un compte sur le Site et/ou sur l’Application ;</li>
			<li>* commande des produits à partir du Site et/ou de l’Application;
			</li>
			<li>* adresse une demande à MESNIL BIEN ÊTRE via le formulaire de contact ou par courriel.</li>
		</ul>
		<p class="polconf_chapitres">5. Géolocalisation
		</p>
		<p class="polconf_chapitres">5.1. Géolocalisation à des fins de fourniture des services 
						Les Utilisateurs sont informés que MESNIL BIEN ÊTRE collecte et traite les données de géolocalisation de l’Utilisateur afin de lui fournir ses services, notamment dans le but de déterminer sa position géographique en temps réel.
		</p>
		<p class="polconf_chapitres">5.3. Conformément au droit d’opposition prévu par le Règlement (UE) 2016/679 du Parlement européen et du Conseil du 27 avril 2016 dit le « RGPD » relatif à la protection des personnes physiques à l’égard du traitement des données à caractère personnel et par la libre circulation de ces données et à la loi n°78-17 dite « Informatique et Libertés » du 6 janvier 1978, modifiée par la loi 2004-801 du 6 août 2004 relative à l’informatique, aux fichiers et aux libertés, les Utilisateurs ont la possibilité, à tout moment, de désactiver les fonctions relatives à la géolocalisation. Néanmoins, les Utilisateurs acceptent que certains services proposés par MESNIL BIEN ÊTRE (notamment les services de « Pick & Collect») ne soient plus accessibles.
		</p>
		<p class="polconf_chapitres">6. Consentement
		</p>
		<p>La présente politique de confidentialité est systématiquement portée à la connaissance des Utilisateurs lors de leur inscription sur le Site et/ou sur l’Application. En effet, la création d’un compte implique l’acceptation expresse, pleine et entière par l’Utilisateur de la présente politique de confidentialité.<br>
			En cochant la case : « Je reconnais avoir lu et compris la politique de confidentialité et je l’accepte », l’Utilisateur consent à ce que ses données personnelles soient conservées et traitées par MESNIL BIEN ÊTRE et/ou ses partenaires.
		</p>
		<p>
			<span id="important">IMPORTANT : NOTE AUX UTILISATEURS<br>TOUTE NAVIGATION SUR LE SITE ET/OU TOUTE UTILISATION DE L’APPLICATION APRÈS LA PUBLICATION DE LA PRÉSENTE POLITIQUE DE CONFIDENTIALITÉ VAUT ACCEPTATION DE CELLE-CI SANS RESERVE.</span>
		</p>
		<p>Si l’Utilisateur souhaite retirer son consentement quant au traitement de ses données, il lui suffit de se rendre sur son compte et d’en faire la demande à partir des formulaires proposés sur le Site et/ou sur l’Application ou d’en faire directement la demande par courriel à l’adresse suivante: soustraitesmoi@gmail.com.
		</p>
		<p class="polconf_chapitres">7. Destinataires des données à caractère personnel
		</p>
		<p>Le destinataire des données à caractère personnel collectées sur le Site et/ou sur l’Application est en tout premier MESNIL BIEN ÊTRE.<br>
			Les données à caractère personnel ne font l'objet d'aucune communication à des tiers. Cependant, d’autres destinataires pourront avoir accès aux données personnelles. Il s’agit, le cas échéant, des prestataires de moyens en charge du Site et/ou de l’Application (administration, vente, marketing, juridique etc.) de MESNIL BIEN ÊTRE et des prestataires externes (fournisseur de services techniques, fournisseurs d’accès, agences de communication etc.) de MESNIL BIEN ÊTRE.
			<br>Dans l’hypothèse d’un changement de contrôle de MESNIL BIEN ÊTRE, d’une opération de fusion, d’une acquisition, d’une procédure collective ou à toute autre forme de cession d’actifs de MESNIL BIEN ÊTRE, les données collectées par MESNIL BIEN ÊTRE pourront faire l’objet d’un transfert à des tiers. Néanmoins MESNIL BIEN ÊTRE s’engage à garantir la confidentialité des données à caractère personnel collectées et à informer les Utilisateurs avant que celles-ci ne soient transférées ou soumises à de nouvelles règles de confidentialité.
			<br>
			Dans l’hypothèse où cela est exigé par la loi, le consentement de l’Utilisateur sera recueilli ou une possibilité de refus sera aménagée avant toute transmission de données.
		</p>
		<p class="polconf_chapitres">8. Droits des Utilisateurs</p>
		<p>Conformément au Règlement (UE) 2016/679 du Parlement européen et du Conseil du 27 avril 2016 dit le                            « RGPD » relatif à la protection des personnes physiques à l’égard du traitement des données à caractère personnel et à la libre circulation de ces données et à la loi n°78-17 dite « Informatique et Libertés » du 6 janvier 1978, modifiée par la loi 2004-801 du 6 août 2004 relative à l’informatique, aux fichiers et aux libertés, l’Utilisateur dispose :</p>
		<ul>
			<li>* d’un droit d’accès à ses données personnelles ;</li>
			<li>* d’un droit de rectification de ses données personnelles ;</li>
			<li>* d’un droit d’effacement de leurs données personnelles ;</li>
			<li>* d’un droit d’opposition à l’utilisation de ses données personnelles;</li>
			<li>* d’un droit de limitation de ses données;</li>
			<li>* d’un droit de portabilité de ses données.</li>
		</ul>
		<p>L’Utilisateur désirant faire valoir un de ses droits peut adresser sa demande par courriel ou par courrier aux adresses suivantes :
		</p>
		<ul>
			<li>* Adresse postale : 120 route de Paris – 76240 Le Mesnil-Esnard, France ;</li>
			<li>* E-mail : soustraitesmoi@gmail.com</li>
		</ul>
		<p>En cas d’exercice de l’un de ces droits, l’Utilisateur devra faire parvenir à MESNIL BIEN ÊTRE les éléments nécessaires à son identification : nom, prénom, e-mail et éventuellement son adresse postale. De surcroît, conformément à la réglementation en vigueur, sa demande devra être signée, accompagnée de la photocopie d’un titre d’identité portant sa signature, préciser en détail le droit qu’il souhaite mettre en œuvre ainsi que l’adresse à laquelle ils souhaitent recevoir la réponse en cas de mise en œuvre d’un des droits énumérés ci-dessus.<br>
			MESNIL BIEN ÊTRE s’engage alors à répondre dans un délai maximum d’un (1) mois suivant la réception de la demande complète de l’Utilisateur.
			<br>En raison de la complexité de la demande et/ou du nombre de demandes, ce délai pourra être porté à deux (2) mois à la condition que MESNIL BIEN ÊTRE informe l’Utilisateur dans un délai d’un (1) mois à compter de la réception de sa demande des motifs du report.
			<br>Si MESNIL BIEN ÊTRE ne donne pas suite à la demande formulée par l’Utilisateur, MESNIL BIEN ÊTRE informera celui-ci au plus tard dans un délai d’un (1) mois à compter de la réception de la demande des motifs de son inaction.<br>
			MESNIL BIEN ÊTRE informe les Utilisateurs de leur droit d’introduire une réclamation auprès de la CNIL.</p>
		<p class="polconf_chapitres">9. Durée de conservation des données</p>
		<p class="polconf_chapitres">9.1. Conservation des données pendant la durée de la relation contractuelle
		</p>
		<p>Les données à caractère personnel des Utilisateurs collectées ne sont pas conservées au-delà du temps nécessaire à l'exécution des obligations définies lors de la conclusion du contrat ou de la durée prédéfinie de la relation contractuelle, sauf en ce qui concerne les données dont MESNIL BIEN ÊTRE aurait besoin de conserver à titre de preuve, pour des besoins juridiques, administratifs ou conformément à la législation en vigueur.</p>
		<p class="polconf_chapitres">9.2. Conservation des données anonymisées au-delà de la relation contractuelle / après la suppression du compte
		</p>
		<p>MESNIL BIEN ÊTRE conserve les données à caractère personnel des Utilisateurs collectées pour la durée strictement nécessaire à la réalisation des finalités décrites dans la présente politique de confidentialité. Au-delà de cette durée, elles seront anonymisées et conservées à des fins exclusivement statistiques et ne donneront lieu à aucune exploitation, de quelque nature que ce soit.
		</p>
		<p class="polconf_chapitres">9.3. Suppression des données après suppression du compte de l’Utilisateur</p>
		<p>Des moyens de purge de données à caractère personnel des Utilisateurs collectées sont mis en place afin d'en prévoir la suppression effective dès lors que la durée de conservation ou d'archivage nécessaire à l'accomplissement des finalités déterminées ou imposées est atteinte.
		</p>
		<p class="polconf_chapitres">9.4. Suppression des données après trois (3) ans d'inactivité
		</p>
		<p>Pour des raisons de sécurité, si l’Utilisateur ne s’est pas authentifié sur le Site et/ou sur l’Application pendant une période de trois (3) ans, l’Utilisateur recevra un e-mail l’invitant à se connecter dans les plus brefs délais, sans quoi les données à caractère personnel de l’Utilisateur seront supprimées des bases de données de MESNIL BIEN ÊTRE.</p>
		<p class="polconf_chapitres">10. Liens</p>
		<p>Sur le Site et/ou sur l’Application, les Utilisateurs pourront avoir accès à différents liens le dirigeant vers des sites tiers.<br>
			MESNIL BIEN ÊTRE ne sera pas responsable pour les liens postés par les Utilisateurs ou les politiques de confidentialité de ces tiers.<br>
			La présente politique de confidentialité ne gouverne pas des sites tiers ou des contenus de tiers auxquels accède l’Utilisateur du Site et/ou de l’Application.</p>
		<p class="polconf_chapitres">11. Cookies
		</p>
		<p>Lors de la consultation du Site et/ou de l’utilisation de l’Application, les Utilisateurs sont informés que des cookies ou autres moyens d’enregistrement de données de navigation sont utilisés par le Site et/ou l’Application ou par des tiers, prestataires de services pour le Site et/ou pour l’Application et déposés sur le terminal de l’Utilisateur (ordinateur, mobile ou tablette).
		</p>
		<p class="polconf_chapitres">11.1. Finalité cookies
		</p>
		<p>Les cookies utilisés par MESNIL BIEN ÊTRE permettent d’identifier les Utilisateurs, de reconnaître le navigateur de ces derniers lorsqu’ils se connectent au Site et/ou lorsqu’ils utilisent l’Application, d’enregistrer leurs fréquences d’accès et leurs préférences d’affichage du terminal des Utilisateurs et d’adapter et/ou personnaliser la présentation du Site et/ou de l’Application, dans l’unique but de fournir les services demandés par l’Utilisateur.
		</p>
		<p class="polconf_chapitres">11.2. Durée de conservation des cookies
		</p>
		<p>Conformément aux recommandations de la CNIL, la durée maximale de conservation des cookies est de treize (13) mois au maximum après leur premier dépôt dans le terminal de l'Utilisateur, tout comme la durée de la validité du consentement de l’Utilisateur à l’utilisation de ces cookies. La durée de vie des cookies n’est pas prolongée à chaque visite. Le consentement de l’Utilisateur devra donc être renouvelé à l'issue de ce délai.
		</p>
		<p class="polconf_chapitres">11.2. Durée de conservation des cookies
		</p>
		<p class="polconf_chapitres">11.3. Droit de l'Utilisateur de refuser les cookies
		</p>
		<p>L’enregistrement d’un cookie reste subordonné à la volonté des Utilisateurs. Les Utilisateurs disposent donc de la possibilité de configurer leur logiciel de navigation de sorte à s’opposer, totalement ou partiellement (notamment en fonction de l’émetteur) à l’enregistrement de cookies. La configuration offre également la possibilité d’accepter ou refuser des cookies de manière ponctuelle, avant leur enregistrement dans le terminal des Utilisateurs.<br>
			Dès lors, les Utilisateurs qui souhaitent empêcher l’enregistrement des cookies, peuvent suivre la procédure spécifique à chaque navigateur et décrite dans le menu d’aide du navigateur.
			<br>Toutefois, en cas d’opposition à l’enregistrement de cookies, les Utilisateurs sont informés que certains services sont susceptibles de ne plus fonctionner correctement.
		</p>
		<p class="polconf_chapitres">12. Transfert des données personnelles à l'étranger
		</p>
		<p class="polconf_chapitres">Transfert des données dans des pays avec un niveau de protection équivalent
		</p>
		<p>L'Éditeur s'engage à respecter la réglementation applicable relative aux transferts des données vers des pays étrangers et notamment selon les modalités suivantes :
		</p>
		<ul>
			<li>* l'Éditeur transfère les données personnelles de ses Utilisateurs vers des pays reconnus comme offrant un niveau de protection équivalent ;
			</li>
			<li>* cependant, si l'Éditeur transfère les données personnelles de ses Utilisateurs en dehors des pays reconnus par la CNIL comme ayant un niveau de protection suffisant, ce dernier s’engage à obtenir une autorisation de la CNIL pour procéder à ce transfert.
			</li>
		</ul>
	</main>
{% endblock %}