
{% extends 'base.html.twig' %}

{% block title %}Mentions Légales{% endblock %}

{% block body %}
<main id="polconf_main">
    <div id="mentions_legales">
    <h1 id="polconf_h1">Mentions Légales</h1>

    <p class="mentions_num">1. Site internet - Application</p>

    <span class="italique">Identité</span>

    Le site internet disponible à l’adresse: www.<span class="couleur">soustraitesmoi.fr</span> (ci-après dénommé le «<span class="italique">Site</span>») et l’application mobile <span class="couleur">SOUSTRAITES MOI</span> (ci-après dénommée l'«<span class="italique">Application</span> ») sont édités par la société <span class="italique">MESNIL BIEN ÊTRE</span>, société par actions simplifiée au capital de 2.000,00 euros, immatriculée au registre du commerce et des sociétés de Rouen sous le numéro 889 017 620 et dont le siège social se situe 120 route de Paris – 76240 Le Mesnil-Esnard, France (ci-après dénommée «<span class="italique"> MESNIL BIEN ÊTRE</span> »).<br><br>

    <span class="couleur">Soustraitesmoi.fr</span> vous propose de déposer votre devis. Le prix final sera présenté au client avec la commission de la plateforme inclus. Vous serez rémunéré une fois la prestation réalisée sur la base du devis déposé ou émis directement sur l’interface Expert.

    N° TVA intracommunautaire : <span class="italique">FR 42 88 90 17 620.</span><br><br>

    <span class="italique">Directeur de la publication</span><br>

    Madame Joffrine DEHAIS.<br>

    <span class="italique">Contact</span><br>

    Adresse e-mail : <span class="couleur">contact@soustraitesmoi.fr .</span><br>

    <span class="italique">Hébergement</span><br>

    Le Site est hébergé par la société américaine <span class="italique">Go Daddy</span> dont le siège social est situé 4455 N. Hayden Road, Scottsdale, Arizona 85260, États-Unis.<br>

    <span class="italique">Numéro de téléphone</span><br>

    <span class="couleur">889 017 620</span><br>


    <p class="mentions_num">2. Reseaux sociaux</p>

    <span class="italique">Identité</span><br>

    Les sites ou les réseaux sociaux Facebook, Snapchat, TikTok, Twitter et Instagram de <span class="couleur">SOUSTRAITESMOI</span> et/ou MESNIL BIEN ÊTRE sont également édités par MESNIL BIEN ÊTRE.<br>

    <p class="mentions_num">3. Contenu et utilisation des informations</p><br>

    L’ensemble des contenus, pages, scripts, graphismes, photographies et icônes du Site, de l’Application et/ou des réseaux sociaux de <span class="couleur">SOUSTRAITES MOI</span> et/ou MESNIL BIEN ÊTRE est la propriété exclusive de MESNIL BIEN ÊTRE ou de tiers ayant autorisé MESNIL BIEN ÊTRE à les utiliser. Tous droits de reproduction ou de représentation de ceux-ci sont strictement réservés.<br>

    Par conséquent, toute reproduction, représentation, utilisation, adaptation, modification, incorporation, traduction, commercialisation, partielles ou intégrales, du Site, de l’Application et/ou des réseaux sociaux de <span class="couleur">SOUSTRAITES MOI</span> et/ou MESNIL BIEN ÊTRE, par quelque procédé et sur quelque support que ce soit (papier, numérique, …) sont interdites, sans l’autorisation écrite préalable de MESNIL BIEN ÊTRE, sous peine de constituer un délit de contrefaçon de droit d’auteur et/ou de dessins et modèles et/ou de marque.

    Les logos, marques, iconographies, relatifs à toutes autres sociétés et produits cités sur le Site, sur l’Application et/ou sur les réseaux sociaux de <span class="couleur">SOUSTRAITESMOI</span> et/ou MESNIL BIEN ÊTRE, sont la propriété respective de leurs auteurs et/ou titulaires.

    <p class="mentions_num">4. Liens hypertextes</p>

    À partir du Site ou de l’Application, les utilisateurs pourront avoir accès à différents liens les dirigeant vers des sites tiers.<br>

    MESNIL BIEN ÊTRE ne sera en aucun cas responsable concernant:<br> 

    le contenu des sites référencés sur le Site, sur l’Application et/ou sur les réseaux sociaux de <span class="couleur">SOUSTRAITES MOI</span> et/ou MESNIL BIEN ÊTRE;<br> 

    les informations ou contenus fournis par des tiers.<br>

    MESNIL BIEN ÊTRE n’exerce aucun contrôle sur les liens hypertextes et/ou autres formats promotionnels.<br>

    Par conséquent, MESNIL BIEN ÊTRE ne donne aucune garantie concernant notamment :<br>

    la véracité, la qualité, la complétude et l’exhaustivité du contenu des sites internet indexés ; ou<br>
    les difficultés d’accès et de fonctionnement des sites internet indexés ;

    et ne pourra en aucun cas être tenue pour responsable dans le cadre d’un litige survenant entre un site internet indexé sur le Site, sur l’Application et/ou MESNIL BIEN ÊTRE et un des utilisateurs, notamment en raison des pertes ou des dommages subis, les exploitants des sites internet indexés étant seuls responsables du contenu de leur site.

    <p class="mentions_num">5. Traitement des données à caractère personnel</p>

    Lors de la navigation sur le Site ou lors de l’utilisation de l’Application, les utilisateurs sont amenés à communiquer des données personnelles.<br>

    Les dispositions relatives à cette section sont disponibles dans la Politique de Confidentialité du Site accessible à partir de l’adresse suivante: <span class="couleur">Mentions Légales</span> , ou de l’Application disponible dans l’onglet <span class="couleur">Mentions Légales</span><br>

    À ce titre, les données recueillies par MESNIL BIEN ÊTRE sont utilisées pour les finalités et la durée prévues dans la Politique de Confidentialité. Elles sont destinées aux services de MESNIL BIEN ÊTRE et à ses prestataires pour l’inscription, l’identification et la fourniture des produits et services proposés par MESNIL BIEN ÊTRE.<br><br>

    Conformément:<br><br>

    au Règlement (UE) 2016/679 du Parlement européen et du Conseil du 27 avril 2016 dit le <span class="italique">« RGPD »</span>relatif à la protection des personnes physiques à l’égard du traitement des données à caractère personnel et à la libre circulation de ces données; et<br>

    à la loi n°78-17 dite « Informatique et Libertés » du 6 janvier 1978, modifiée par la loi 2004-801 du 6 août 2004 relative à l’informatique, aux fichiers et aux libertés;<br>

    les utilisateurs disposent d’un droit d’accès, de modification, de rectification, de limitation, de portabilité et de suppression des données les concernant.

    Pour toute demande, les utilisateurs doivent s’adresser : contact@soustraitesmoi.fr .<br>
    MESNIL BIEN ÊTRE s’engage à la confidentialité et à la protection des données des utilisateurs.

    <p class="mentions_num">6. Modifications des mentions légales</p>

    MESNIL BIEN ÊTRE se réserve le droit de modifier, à tout moment, les présentes mentions légales, afin notamment de prendre en compte toute évolution légale, jurisprudentielle, éditoriale, fonctionnelle et/ou technique.<br>

    La version qui prévaut est celle qui est accessible en ligne au jour de la consultation du Site ou de l’utilisation de l’Application.<br> 

    Toute consultation du Site ou de l’Application après publication des mentions légales modifiées vaut acceptation sans réserve par ce dernier des nouvelles mentions légales.

    <p class="mentions_num">7. Loi applicable</p>

    Le Site et l’Application sont régis par le droit français.


    </div>
</main>
{% endblock %}
