@import url('https://fonts.googleapis.com/css2?family=Rampart+One&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    --primary: #d2b511;
}

body{
    display: flex;
    flex-direction: column;
    height: 100vh;
}
footer{
    margin-top:auto; 
    padding: 0 10%;
    border: 0px;
}
.social{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.social a {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    margin: 0 10px;
    width: 38px;
    height: 38px;
    border: 1px #d2b511ae solid;
    border-radius: 45%;
}
.social a:hover, .social i:hover{
    background-color: var(--primary);
    color: white;
}
.social i{
    color: var(--primary);
}

.payment{
    display: flex;
    align-items: center;
    font-size: 35px;
    padding-bottom: 1.1rem;
}

.payment i{
    padding: 0 5px;
    color: rgb(145, 145, 145);
}

.minilogo, .paymentsWrapper, .social_div{
    padding: 0 20px;
}
.minologo{
    align-self: center;
}
.minilogo img{
    height: auto;
    width: 70px;
}

.copyright{
    font-size: 15px;
}

.column{
    width: 25%;
}

.column li{
    font-size: 15px;
}

hr{
    color: white;
}

.sectionheader {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 35vh;
    background: rgb(0, 0, 0);
    background: radial-gradient(circle, rgba(0, 0, 0, 1) 0%, rgba(48, 48, 48, 1) 100%);
    border-bottom: 2px solid gold;
}

/* début menu burger header */
#menu {
    z-index: 2;
    width: 60%;
}

#menu-bar {
    width: 45px;
    height: 40px;
    margin: 30px 0 20px 20px;
    cursor: pointer;
}

.bar {
    height: 5px;
    width: 100%;
    background-image: url('../assets/uploads/slides/gold.jpg');
    display: block;
    border-radius: 5px;
    transition: 0.3s ease;
}

#bar1 {
    transform: translateY(-4px);
}

#bar3 {
    transform: translateY(4px);
}

.nav {
    transition: 0.3s ease;
    display: none;
}

.nav ul {
    padding: 8px 8px;
}

.nav li {
    list-style: none;
    padding: 8px 8px;
}

.nav li a {
    color: black;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
}

.nav li a:hover {
    font-weight: bold;
}

.menu-bg,
#menu {
    top: 0;
    left: 0;
    position: absolute;
}

#menu {
    width: 100%;
}

.menu-bg {
    z-index: 1;
    width: 0;
    height: 0;
    margin: 30px 0 20px 20px;
    background-image: url('../assets/uploads/slides/gold.jpg');
    background-size: cover;
    border-radius: 50%;
    transition: 0.3s ease;
}

.change {
    display: block;
}

.change .bar {
    color: black;
}

.change #bar1 {
    transform: translateY(4px) rotateZ(-45deg);
}

.change #bar2 {
    opacity: 0;
}

.change #bar3 {
    transform: translateY(-6px) rotateZ(45deg);
}

.change-bg {
    width: 500px;
    height: 400px;
    transform: translate(-60%, -30%);
}

/* fin menu burger */

/* gestion titre et logo */
.h1_img_header {
    display: flex;
    justify-content: center;
    margin-top: 5%;
}

.headerh1 {
    color: white;
    text-align: center;
    padding-top: 20px;
    font-size: 5em;
    font-family: 'Rampart One', cursive;
}

span {
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    background-image: url('../assets/uploads/slides/gold.jpg');
}

.logoHeader {
    clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0 50%);
    color: gold;
    width: 100px;
    height: 100px;
    margin-top: 2%;
    margin-left: 5%;
    animation: rotation 9s infinite linear;
}

/* gestion des btn header */
.prezheader {
    text-align: center;
}

#btnHeader1 {
    background-color: transparent;
    width: 120px;
    height: 60px;
}

#btnHeader1:hover {
    transform: scale(1.2);
    color: gold;
    box-shadow: 2px 2px 2px 2px white;
}

#btnHeader2 {
    background-image: url('../assets/uploads/slides/gold.jpg');
    width: 120px;
    height: 60px;
    font-size: 0.7em;
    color: black;
    margin-left: 2%;
}

#btnHeader2:hover {
    transform: scale(1.2);
    color: white;
    box-shadow: 2px 2px 2px 2px white;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

footer {
    margin-top: auto;
    border: 0px;
}

/* media queries pour responsive */
@media only screen and (min-width: 320px) and (max-width: 1023px) {
    .sectionheader {
        height: 25vh;
    }
}