@import url('https://fonts.googleapis.com/css2?family=Rampart+One&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root{
    --primary: #d2b511;
    --secondary : #f6f6f6;
    --first-color: #3E3F3A;
    --button-active-blue: #1669F2;
}

body{
    display: flex;
    flex-direction: column;
    height: 100vh;
    color: black;
}

a{
    color:#d2b511c6;
}
a:hover{
    color: antiquewhite;
}

    /* Footer */
footer{
    margin-top:auto; 
    padding: 10% 5%;
    border: 0px;
}
.misc_row{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.social_div{
    order: -2;
    padding-bottom: 5%;
}
.social{
    display: flex;
    align-items: center;
    justify-content: center;
}
.social a {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    margin: 0 20px;
    width: 50px;
    height: 50px;
    border: 1px #d2b511ae solid;
    border-radius: 45%;
}
.social a:hover, .social i:hover{
    background-color: var(--primary);
    color: white;
}
.social i{
    color: var(--primary);
}

.payment{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    padding-bottom: 1.1rem;
}

.payment i{
    padding: 0 10px;
    color: rgb(145, 145, 145);
}
.paymentsWrapper p{
    font-size: 20px;
}
.copyright{
    font-size: 20px;
}
.minilogo, .paymentsWrapper, .social_div{
    padding: 13px 0;
}
.minologo{
    align-self: center;
}
.minilogo img{
    height: auto;
    width: 70px;
}

.copyright{
    font-size: 18px;
}
.column{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 5%;
}
.column ul{
    align-items: center;

}
.column h5{
    font-size: 25px;
    padding-bottom: 10px;
}
.column li{
    font-size: 22px;
}
.column p{
    font-size: 15px;
}
.contact{
    margin-top: 20px;
}
.contact p{
    font-size: 20px;
}

hr{
    color: white;
}

    /* Footer */

    /* Header */

    .bande{
        background-color: black;
        width: 100%;
        height: 8%;
    }
    .bande div{
        display: none;
        background-color: var(--primary);
        width: 100%;
        height: 2px;
    }

    /* Header */

    /* Main */

/* carousel Finder */

#finder {
    width: 65%;
    height: 100%;
    margin: auto;
    padding: 0;
}


#carousel {
    position: relative;
    height: 250px;
    top: 50%;
    transform: translateY(-50%);
    overflow: hidden;
}

#carousel div {
    position: absolute;
    transition: transform 1s, left 1s, opacity 1s, z-index 0s;
    opacity: 1;
}

#carousel div img {
    width: 400px;
    transition: width 1s;
}

#carousel div.hideLeft {
    left: 0%;
    opacity: 0;
    transform: translateY(50%) translateX(-50%);
}

#carousel div.hideLeft img {
    width: 200px;
}

#carousel div.hideRight {
    left: 100%;
    opacity: 0;
    transform: translateY(50%) translateX(-50%);
}

#carousel div.hideRight img {
    width: 200px;
}

#carousel div.prev {
    z-index: 5;
    left: 30%;
    transform: translateY(50px) translateX(-50%);
}

#carousel div.prev img {
    width: 300px;
}

#carousel div.prevLeftSecond {
    z-index: 4;
    left: 15%;
    transform: translateY(50%) translateX(-50%);
    opacity: .7;
}

#carousel div.prevLeftSecond img {
    width: 200px;
}

#carousel div.selected {
    z-index: 10;
    left: 50%;
    transform: translateY(0px) translateX(-50%);
}

#carousel div.next {
    z-index: 5;
    left: 70%;
    transform: translateY(50px) translateX(-50%);
}

#carousel div.next img {
    width: 300px;
}

#carousel div.nextRightSecond {
    z-index: 4;
    left: 85%;
    transform: translateY(50%) translateX(-50%);
    opacity: .7;
}

#carousel div.nextRightSecond img {
    width: 200px;
}

/* .buttons {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    bottom: 10px;
} */

/* fin du carousel */

/* Accueil */
.home_container{
    padding: 6%;
}
.projet_background_img{
    display: none;
}
.projet_background_img img{
    width: 100%;
}
.article_projet h2, section h2{
    font-size: 33px;
    margin-top: 3%;
}
.article_projet{
    display: flex;
    flex-direction: column;
}
.article_projet p{
    font-size: 17px;
    margin: 10% 0;
}
.article_projet a{
    order: 3;
}
.row_info{
    display: flex;
    align-items: center;
    margin: 8% 0;
}
.row_info p{
    margin: 0;
    margin-left: 10%;
}
.row_info div{
    width: 15%;
}
.row_info div img{
    width: 100%;
}
.background{

    z-index: -1;
    position: absolute;
    width: 100%;
    height: 1000px;
    left: 0;
    top: -490px;
    background-image: url(/assets/img/background_img_projet.webp);
    background-position-x: center;
    background-repeat: no-repeat;
}
.button{
    margin: 8% 0;
    padding: 3%;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    width: 100%;
    background-color: black;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}
.section_info{
    background-color: #FFBF23;
}

.section_info p{
    font-size: 23px;
    padding-top: 3%;
}
.section_info2 p{
    font-size: 18px;
}
.flex_info2{
    display: flex;
    flex-direction: column;
}
.center_img{
    display: flex;
    justify-content: center;
}
.article_info2{
    padding: 5% 0;
}
.article_info2 img{
    width: 50%;
    margin: 10%;
    border: black 2px solid;
    border-radius: 15px;
    overflow: hidden;
}
.article_info2 h3{
    font-weight: 700;
    font-size: 22px;
}
.section_info3 h3{
    padding: 3% 0;
    font-size: 27px;
}
.section_partenaire{
    background-color: #FFD7EF;
}
.section_partenaire h2{
    padding: 5% 0;
}
.grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 5% 0;
    /* gap: 5%; */
}
.grid .logo_partenaire{
    width: 100%;
    height: 100%;
    border-radius: 25px;
    padding: 8%;
    overflow: hidden;
}
.grid div{
    border-radius: 11px;
    margin: 8%;
}
.grid div img{
    width: 100%;
    height: 100%;
}
.flex_quote{
    display: flex;
    flex-direction: column;
}
.quote_card{
    position: relative;
    border: 2px black solid;
    margin: 15% 5% 25% 5%;
    border-radius: 20px;
}
.quote_card .bar{
    background-color: #FFBF23;
    display: flex;
    padding: 0 5%;
    border-bottom: 2px black solid ;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.quote{
    font-size: 20px;
    padding: 12% 10%;
}
.quote_name{
    position: absolute;
    bottom: 2%;
    right: 15%;
}
.quote_name p {
    margin-bottom: 1px;
    font-size: 13px;
    font-weight: 600;
}
.quote_art{
    position: absolute;
    width: 40%;
    bottom: -19%;
    left: -5%;
}
.quote_art img{
    width: 100%;
}
.fa-circle{
    font-size: 10px;
    padding: 10px 3px;
}
.section_projet2{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.section_projet2 h2{
    font-size: 30px;
    text-align: center;
}
.section_projet2 a{
    width: 60%;
}
.section_projet2 img{
    width: 100%;
}
.d-block{
    width: 100%;
    height: 500px;
}
.container{
    padding: 10%;
}
/* Accueil */
/* Inscription */
.container h1{
    font-size: 40px;
    padding-bottom: 5%;
    text-align: center;
}
.container p{
    font-size: 25px;
    padding-bottom: 2%;
}
.form_container{
    margin: 10%;
    padding: 5%;
    background-color: var(--secondary);
}
.form_container input{
    border-radius: 10px;
}
.form_container a{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.585);
    display: flex;
    justify-content: center;
}
.form_container article{
    padding: 5% 0;
}
.form_container h1{
    padding-bottom: 2%;
}
.form_container .btn{
    margin-top: 3%;
    width: 100%;
    background-color: var(--first-color);
    color: white;
}
.mdp_link{
    text-decoration: underline !important; 
    justify-content: flex-start ! important;
}
.barre_ou{
    display: flex;
    padding: 3% 0;
}
.barre_ou span{
    font-size: 25px;
    padding: 0 5%;
    margin-bottom: 6px;
}
.barre{
    border: none;
    border-bottom: rgba(0, 0, 0, 0.599) 1px solid;
    margin-bottom: 25px;
    width: 100%;
}

.google-btn {
    width: 90%;
    height: 42px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 3px 4px 0 rgba(0,0,0,.25);
}
.google-btn p {
    text-align: center;
    padding-top: 10px;
    padding-left: 10px;
}
.google-btn:hover {
    box-shadow: 0 0 6px var(--google-blue);
}
.google-btn:active {
    background: var(--button-active-blue);
}

.google-icon-wrapper {
    position: absolute;
    margin-top: 1px;
    margin-left: 1px;
    width: 40px;
    height: 40px;
    border-radius: 15px;
    background-color: white;
}
.google-icon {
    position: absolute;
    margin-top: 11px;
    margin-left: 11px;
    width: 18px;
    height: 18px;
}
/* Inscription */
/* début documentation legale */

#mentions_legales {
    padding: 10px 10px 10px 10px;
}

#mentions_legales h2 {
    text-align: center;
}

.mentions_num {
    font-size: 1.2em;
    font-weight: 800;
    padding-bottom: 5px;
    padding-top: 50px;
}

.italique {
    font-style:italic;
    font-weight: 600;
}

.couleur {
    color: red;
    font-weight: 400;
}
/* fin documentation legale */

    /* Main */



/* media queries pour responsive */
@media only screen and (min-width: 400px){
    .sectionheader {
        height: 25vh;
    }
}

@media only screen and (min-width: 768px){
    /* Main */

    /* Carousel Finder */
    #carousel div img {
        width: 200px;
        transition: width 1s;
    }
    
    #carousel div.hideLeft img {
        width: 100px;
    }
    
    #carousel div.hideRight img {
        width: 100px;
    }
    
    #carousel div.prev img {
        width: 150px;
    }
    
    #carousel div.prevLeftSecond img {
        width: 100px;
    }
    
    #carousel div.next img {
        width: 150px;
    }
    
    #carousel div.nextRightSecond img {
        width: 100px;
    } 
    /* carousel Finder */
    /* Accueil */
    .home_container{
        padding: 3%;
    }
    .article_projet h2, section h2 {
        font-size: 45px;
    }
    .flex_projet{
        display: flex;
        position: relative;
    }
    .section_projet{
        width: 55%;
        padding-bottom: 5%;
    }
    .article_projet{
        padding-bottom: 5%;
    }
    .article_projet p {
        width: 85%;
        font-size: 20px;
        margin-top: 2%;
    }
    .article_projet a{
        order: 0;
        width: 30%;
        margin: 0;
        padding: 2%;
    }
    .projet_info{
        display: flex;
        flex-direction: row;
        width: 100%;
        margin: 10% 0;
    }
    .row_info{
        width: 1/3;
        margin: 0 5% 0 0;
    }
    .row_info div{
        width: 30%;
    }
    .row_info p{
        font-size: 13px;
        width: 70%;
        margin: 0 0 0 10%;
    }
    .projet_background_img{
        display: block;
        position: absolute;
        z-index: -1;
        right: 5px;
        bottom: -5px;
        width: 57%;
    }
    .section_info{
        display: flex;
        align-items: center;
    }
    .section_info h2{
        width: 50%;
        padding: 10% 0;
    }
    .section_info p{
        width: 50%;
        font-size: 20px;
    }
    .flex_info2{
        flex-direction: row;
    }
    .article_info2{
        width: 25%;
        margin: 0 5px;
    }
    .article_info2 img{
        width: 100%;
        margin: 5% 0;
    }
    .article_info2 h3 {
        font-size: 20px;
        padding: 8% 0;
    }
    .section_info2 p{
        font-size: 17px;
    }
    .section_info3{
        display: flex;
    }
    .section_info3 img{
        width: 100%
    }
    .section_info3 .center_img{
        display: block;
        width: 50%
    }
    .section_info3 article{
        margin-top: 10%;
        width: 50%
    }
    .section_partenaire h2{
        margin: 0;
    }
    .grid{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        padding: 0;
        /* gap: 5%; */
    }
    .quote_card {
        margin: 8% 5%;
    }
    .quote {
        padding: 6% 4%;
    }
    .quote_name {
        bottom: 5%;
    }
    .quote_art {
        width: 20%;
        bottom: -35%;
        left: -5%;
    }
    .section_projet2 h2{
        width: 80%;
        font-size: 40px;
    }
    .section_projet2 a{
        width: 20%;
        padding: 2%;
        margin-bottom: 0;
    }
    .section_projet2 img{
        height: 500px;
    }
    /* Accueil */
    /* Inscription */
    .google-btn {
        width: 50%;
    }
    
    .barre_ou{
        justify-content: center;
    }
    .barre_ou span{
        padding: 0 2%;
    }
    .barre{
        width: 300px;
    }
    /* Inscription */
    /* Profil expert */
    .profil{
        display: flex;
    }
    .profil_picture{
        width: 75%;
    }
    /* Profil expert */
    /* Main */
    /* Footer */
    footer{
        padding:0 5%;
        padding-top: 5%;
        padding-bottom: 2%;
    }
    .misc_row{
        flex-direction: row;
    }
    .social{
        justify-content: flex-end;
    }
    .social_div{
        order: 2;
    }
    .bottom{
        justify-content: space-between;
    }
    .social a {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 20px;
        margin: 0 10px;
        width: 38px;
        height: 38px;
        border: 1px #d2b511ae solid;
        border-radius: 45%;
    }
    .payment{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        font-size: 35px;
        padding-bottom: 1.1rem;
    }
    
    .payment i{
        padding: 0 5px;
        padding-top: 20px;
        color: rgb(145, 145, 145);
    }
    .paymentsWrapper p{
        font-size: 17px;
    }
    .minilogo, .paymentsWrapper, .social_div{
        padding: 0 20px;
    }
    .minologo{
        align-self: center;
    }
    .minilogo img{
        height: auto;
        width: 70px;
    }
    
    .copyright{
        font-size: 15px;
    }
    
    .column{
        width: 25%;
    }
    
    .column li{
        font-size: 15px;
    }
    .column p{
        font-size: 15px;
    }
    .contact{
        margin-top: 20px;
    }
    /* Footer */
}

@media only screen and (min-width: 992px){
    /* Main */
    .section_info2 p{
        margin: 3% 0;
        margin: 0 8px;
    }
    .article_info2 {
        padding: 4% 0;
    }
    .article_info2 h3 {
        padding: 10% 0;
    }
    .grid .logo_partenaire {
        width: 90%;
    }
    .flex_quote {
        flex-direction: row;
    }
    .quote_card {
        margin: 8% 1%;
    }
    .quote {
        font-size: 18px;
        padding: 12% 10%;
    }
    .quote_art {
        width: 40%;
        bottom: -18%;
        left: -5%;
    }
    .section_projet2 a {
        padding: 1%;
    }
    /* Main */
}
@media only screen and (min-width: 1200px){
    /* Main */
    .home_container{
        padding: 6% 15%;
    }
    .section_projet{
        padding-right: 2%;
        width: 60%;
    }
    section h2 {
        font-size: 40px;
    }
    .article_projet p{
        font-size: 25px;
    }
    .article_projet h2{
        font-size: 60px;
    }
    .projet_background_img {
        right: 6%;
        bottom: 5%;
        width: 45%;
    }
    .row_info p{
        font-size: 13px;
    }
    .section_info p {
        font-size: 20px;
    }
    .section_info h2 {
        font-size: 40px;
        padding: 5% 0;
    }
    .section_info2{
        padding-top: 3%;
    }
    .section_info2 p {
        margin: 2% 8px;
    }
    .article_info2 {
        width: 25%;
        margin: 0 10px;
    }
    .section_info3{
        padding: 0 7% 6% 7%;
    }
    .section_info3 .center_img {
        width: 42%;
    }
    .section_info3 article{
        padding: 0;
        width: 40%;
        margin-top: 15%;
        margin-left: 15%;
    }
    .quote_name {
        bottom: 3%;
    }
    .section_projet2 a{
        margin-top: 5%;
    }
    .form_container{
        margin: 3%;
        padding: 2% 3%;
    }
    .d-block{
        width: 100%;
        height: 100%;
    }
    /* Main */
}
