{% extends 'base_admin.html.twig' %}

{% block title %}Administration
{% endblock %}

{% block body %}
	<main>
        <h1 class="p-4 mt-3">Bienvenue sur la page d'administration !</h1>
	</main>
{% endblock %}