<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
	</head>
	<body>
		<h3>Vous avez reçu une proposition de devis de la part de: </h3>
        <p>{{ user.firstName }} {{ user.lastName }}</p>
        <h3>Son adresse mail: </h3>
        <p>{{ user.email }}</p>
		<h3>Devis concernant le projet: </h3>
		<p>{{projectName}}</p>
	</body>
</html>