<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
	</head>
	<body>
		<p>Bonjour {{ user.firstName }},</p>
		<p>pour réinitialiser votre mot de passe, veuillez cliquer sur le lien suivant :
			<a href="{{ url|raw }}">{{ url|raw }}</a>
		</p>
		<p>Merci</p>
	</body>
</html>