<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
	</head>
	<body>
		<p>Bonjour Joffrine,</p>
        <p>Le client {{user.lastname ~ " " ~  user.firstname}} a effectué un paiement d'un montant de {{price}} € pour le projet intitulé "{{projectName}}"</p>
        <p>Nous vous souhaitons une excellente journée,</p>
		<p>Cordialement.</p>
	</body>
</html>