<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
	</head>
	<body>
		<p>Bonjour {{ user.firstName }},</p>
        <p>Après analyse de nos experts, votre projet "{{projectName}}" a été accepté, vous recevrez donc prochainement une proposition de prix pour la réalisation de votre projet.</p>
        <br>
        <p>Nous vous souhaitons une excellente journée,</p>
		<p>Cordialement.</p>
	</body>
</html>