<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
	</head>
	<body>
		<p>Bonjour {{ user.firstName }},</p>
        <p>Après analyse de nos experts, nous ne pourrons pas prendre en charge votre projet "{{projectName}}".</p>
        <p>Ce projet sera automatiquement supprimé après l'envoi de ce message.</p>
        <br>
		<p>Merci de la confiance accordée à Soustraitesmoi.fr</p>
        <p>Nous vous souhaitons une excellente journée,</p>
		<p>Cordialement.</p>
	</body>
</html>