<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
	</head>
	<body>
		<p>Bonjour {{ user.firstName }},</p>
        <p>Afin de mener à bien la réalisation de votre projet "{{projectName}}", nous vous prions de bien vouloir procéder au paiement de votre projet estimé à {{price}} €</p>
        <br>
        <p>Nous vous souhaitons une excellente journée,</p>
		<p>Cordialement.</p>
	</body>
</html>