@import url('https://fonts.googleapis.com/css2?family=Calligraffitti&display=swap');

header{
    z-index: 5;
    background-color: white;
    box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
    margin-bottom: 5%;
}
.sticky{
    position: sticky;
    width: 100%;
    top: -1px;
}
/* .fixed{
    position: absolute;
    top: -1;
    width: 100%;
} */
.active{
    visibility:visible;
    width: 65%;
}
.stop-scrolling {
    overflow: hidden;
}
.bande{
    background-color: black;
    width: 100%;
    height: 7%;
}
.div_header{
    padding: 5%;
}
.div_header .nav{
    display: none;
}
.flex_header{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.top_profil{
    display: none;
}
.flex_header .button{
    display: none;
}
.div_header img{
    height: 70px;
}
.fa-bars{
    /* position: absolute; */
    font-size: 30px;
    /* left: 5%; */
    /* top: 8%; */
    color: var(--primary);
}
.fa-bars:hover{
    transform: scale(1.1);
    transition: ease-in-out;
}
header aside{
    visibility: hidden;
    position: absolute;
    width: 0%;
    height: 100vh;
    left: 0;
    top: 0;
    z-index: 5;
    /* transform: translateX(-100%); */
    transition: all 0.1s ease-in-out;
    background-color: #1d1a10;
    overflow: hidden;
}
header aside .top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.185);
}
header aside .top p{
    font-family: 'Calligraffitti', cursive;
    padding-top: 3%;
    color: white;
    font-size: 22px;
}
.fa-xmark{
    padding: 7% 0 0 7% ;
    font-size: 23px;
    color: var(--primary);
}
.fa-xmark:hover{
    color: white;
}
header aside ul{
    font-size: 16px;
    padding: 5%;
}
header aside ul li{
    display: flex;
    justify-content: center;
    border-radius: 12px;
}
header aside .nav-link{
    width: 100%;
    height: 66px;
    line-height: 50px;
    transition: all 0.4s ease;
    color: white;
    border-radius: 12px;
    padding: 0.5rem 0.9rem 0.5rem 0;
}
header aside .nav-link:hover{
    background-color: white;
    color: #1d1a10;
}
header aside i{
    height: 50px;
    min-width: 50px;
    text-align: center;
}
header .login_side{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #31311b;
    padding: 5%;
}
header .login_side a{
    width: 50%;
    text-decoration: none;
}
header .profil_side{
    display: flex;
    align-items: center;
    padding: 5%;
    background-color: var(--primary);
    color: white;
}
header .info{
    width: 45%;
}
header .profil_side p:first-child{
    font-size: 14px;
}
header .profil_side p{
    font-size: 13px;
    max-width: 100%;
}
header .profil_side a{
    color: white;
    font-size: 20px;
    padding: 6% 0 0 6%;
}
header .profil_side a i{
    padding-top: 15%;
}
/* header .profil_side i{
} */
header aside .profil_pic{
    width: 60px;
    height: 60px;
    margin-right: 5%;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    overflow: hidden;
}


@media only screen and (min-width: 768px){
    .sticky{
        position: unset;
    }
    .div_header{
        display: flex;
        align-items: flex-start;
        padding: 3% 3px;
    }
    .flex_header > .fa-solid{
        display: none;
    }
    .flex_header{
        width: 100%;
        justify-content: space-around;
    }
    .div_header .nav{
        display: block;
        display: flex;
        font-size: 15px;
        padding-top: 2%;
    }
    .div_header .nav a{
        color: black;
    }
    .div_header .nav a:hover{
        color: var(--primary);
    }
    .flex_header .div_button{
        display: flex;
        width: 30%;
        padding-top: 1%;
        justify-content: space-between;
    }
    .flex_header .button{
        display: block;
        padding: 5%;
        margin: 0 2%;
        width: 120px;
        background-color: #d2b511;
    }
    .top_profil{
        display: block;
        display: flex;
        align-items: center;
        position: relative;
        padding: 2% 10px 0 10px;
    }
    .top_profil .pp{
        width: 60px;
        height: 60px;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
    }
    .fa-sort-down{
        cursor: pointer;
    }
    .dropdown-menu{
        top: 75px;
        right: 0px;
    }
    .menu_active{
        display: block;
    }
}

@media only screen and (min-width: 992px){
    /* Header */
    .div_header{
        padding: 20px 3px;
    }
    .flex_header .button {
        width: 160px;
    }
    /* Header */
}


@media only screen and (min-width: 1200px){
    /* Header */
    .div_header img {
        height: 70px;
    }
    .div_header .nav {
        font-size: 18px;
    }
    .flex_header a img{
        height: 90px;
    }
    .flex_header .button {
        width: 200px;
        padding: 3%
    }
}