
@import url('https://fonts.googleapis.com/css2?family=Rubik+Dirt&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap');
/* liste-projets */



.h1_projets {
    text-align: center;
    font-size: 36px;
    font-weight: 800;
    margin-bottom: 2%;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.section_projets {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
    background-color: white;
}

.section_projets_div {
    text-align: center;
    background-color: whitesmoke;
    width: 75%;
    padding: 20px 10px 20px 10px;
    margin-top: 2%;
    border-radius: 10px;
    margin-bottom: 2%;
    box-shadow: 7px 7px 10px #cbced1;
}

.section_projets h4 {
    color: #d2b511;
    font-weight: 800;
}

.section_projets_p {
    font-size: 18px;
    font-weight: 400;
    height: 62px;
    overflow: auto;
}

#p_sujet {
    min-height: 62px;
    max-height: 200px;
    overflow: auto;
    padding: 10px;
    /* font-size: 18px;
    font-weight: 400; */
}

#img_mes_projets {
    width: 75px;
    height: 75px;
}
/* nouveau projet */

#h1_nouveau_projet {
    margin: 30px auto 30px;
    text-align: center;
    font-family: 'Rubik Dirt', cursive;
    font-size: 36px;

}

#p_nouveau_projet {
    color: black;
    padding-top: 10px;
    margin-bottom: 30px;
    font-weight: 400;
    line-height: 30px;
}

.span_nouveau_projet {
    color: goldenrod;
    font-weight: 600;
}

.nouveau_projet {
    width: 80%;
    margin: auto;
    border-radius: 20px;
    padding: 40px;
    box-sizing: border-box;
    background: #ecf0f3;
    box-shadow: 14px 14px 20px #cbced1, -14px -14px 20px white;
    margin-bottom: 50px;
}

.brand-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.brand-logo img {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    box-sizing: border-box;
    box-shadow: 4px 4px 6px black;

}

#project_Nom_du_projet {
    background: #ecf0f3;
    padding: 10px;
    padding-left: 20px;
    height: 50px;
    font-size: 14px;
    border-radius: 50px;
    box-shadow: inset 6px 6px 6px #cbced1, inset -6px -6px 6px white;
}

#project_Categorie {
    background: #ecf0f3;
    padding: 10px;
    padding-left: 20px;
    height: 50px;
    font-size: 14px;
    border-radius: 50px;
    box-shadow: inset 6px 6px 6px #cbced1, inset -6px -6px 6px white;
}

#project_Description {
    background: #ecf0f3;
    padding: 10px;
    padding-left: 20px;
    height: 80px;
    font-size: 14px;
    border-radius: 50px;
    box-shadow: inset 6px 6px 6px #cbced1, inset -6px -6px 6px white;
}

.btn {
    color: white;
    margin-top: 20px;
    background: #d2b511;
    height: 40px;
    border-radius: 20px;
    cursor: pointer;
    font-weight: 900;
    box-shadow: 6px 6px 6px #cbced1, -6px -6px 6px white;
    transition: 0.5s;
}

.btn:hover {
    box-shadow: none;
}


.div_img_prjt{
    position: relative;
    z-index: 2;
    width: 100%;
    height: 180px;
    background-color: black;
    cursor: pointer;
}
/* .div_img_prjt:hover{
    background-color: rgba(0, 0, 0, 0.5);
} */

.div_img_prjt div{
    position: absolute;
    opacity: 0;
    transition: 0.2s ease;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5); /* Black see-through */
    width: 100%;
    height: 100%;
    font-size: 30px;
    padding: 20px;
    text-align: center;
}

.div_img_prjt div i{
    color: white;
    padding-top: 40%;
}

.div_img_prjt:hover div{
    opacity: 1;
}

/* choix type de projet */
#choixprojet {
    background-color: white;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 8%;
}

#choixprojet a {
    display: flex;
    margin: auto;
    justify-content: space-evenly;
    align-items: center;
    width: 80%;
    padding: 3%;
    text-decoration: none;
    border: 1px lightgray solid;
    border-radius: 10px;
    font-size: 25px;
    box-shadow: 1px 1px 1px 1px gray;
    margin-bottom: 4%;
}

#choixprojet h2 {
    margin-bottom: 10%;
    margin-top: 5%;
    font-size: 39px;
    text-align: center;
    padding: 0px 10px 0px 10px;
    font-weight: 600;
    font-family: 'Dancing Script', cursive;
    font-style: italic;
}


#choixprojet a img {
    height: 100px;
    width: 100px;
}

#choixprojet a div {
    padding: 8% 2% 5% 2%;
}

#choixprojet a h3 {
    padding-left: 5%;
}

.list-group li {
    margin-bottom: 12px;
}

.list li {
    list-style: none;
    padding: 10px;
    border: 1px solid #e3dada;
    margin-top: 12px;
    border-radius: 5px;
    background: #fff;
}
/* page des devis */
#devis_main {
    margin-bottom: 6%;
}

#devis_section {
    width: 75%;
    margin: auto;
    background-color: whitesmoke;
    padding: 30px 10px 30px 10px;
    border-radius: 20px;
}

#devis_section legend {
    font-size: 16px;
}

#devis_section select {
    border-radius: 10px;
    box-shadow: inset 2px 2px 2px #cbced1, inset -0.2px -0.2px 1px black;
}

#devis_section textarea {
    border-radius: 20px;
    box-shadow: inset 4px 4px 4px #cbced1, inset -0.2px -0.2px 1px black;
}

#h1_devis {
    margin-top: 4%;
    margin-bottom: 6%;
    text-align: center;
    font-family: 'Dancing Script', cursive;
    font-size: 39px;
    color: goldenrod;
}

#h6_devis {
    text-align: center;
    margin-bottom: 6%;
    font-weight: 400;
}

/* .mb-3 input {
    border-radius: 20px;
    box-shadow: inset 4px 4px 4px #cbced1, inset -0.2px -0.2px 1px black;
} */

#devis_p {
    text-align: center;
    font-family: 'Dancing Script', cursive;
    font-size: 26px;
    margin-top: 4%;
    margin-bottom: 4%;
}

#devis_form_Images.form-control {
    margin-top: 4%;
    margin-bottom: 4%;
    border-radius: 20px;
    box-shadow: inset 4px 4px 4px #cbced1, inset -0.2px -0.2px 1px black;
}

#devis_form_date_redaction_time_hour {
    display: none;
}

#devis_form_date_redaction_time_minute {
    display: none;
}

#devis_form_duree_validite_time_hour {
    display: none;
}

#devis_form_duree_validite_time_minute {
    display: none;
}

.input-group-text {
    display: none;
}

#devis_div {
    margin-top: 4%;
    margin-bottom: 4%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#devis_btn {
    margin-top: 6%;
    width: 200px;
}

.ValidBtn {
    width: 45%;
    padding: 2%;
    text-align: center;
    text-decoration: none;
    color: white;
    border-radius: 5px;
    margin-top: 20px;
    background: green;
    font-weight: 900;
}
.ValidBtn:hover {
    background: rgba(0, 128, 0, 0.781);
}

.NoValidBtn {
    width: 45%;
    padding: 2%;
    text-align: center;
    text-decoration: none;
    color: white;
    border-radius: 5px;
    margin-top: 20px;
    background: crimson;
    font-weight: 900;
}
.NoValidBtn:hover {
    background: rgba(220, 20, 60, 0.801);
}

@media only screen and (min-width: 768px) {
    .nouveau_projet h3{
        font-size: 20px;
        padding-top: 3px;
        margin: 0;
    }
    #h1_nouveau_projet {
        font-size: 50px;
        margin: 30px auto 50px;

    }

    #p_nouveau_projet {
        font-size: 20px;
        padding-top: 50px;
        margin-bottom: 60px;
        line-height: 40px;
    }

    .brand-logo img {
        height: 60px;
        width: 60px;
        margin-bottom: 50px;
    }
    
    .form-label {
        font-size: 20px;
    }

    .btn {
        width: 120px;
        height: 50px;
        font-size: 16px;
    }

    .form-label-misc{
        font-size: 15px;
    }
    .h1_projets {
        font-size: 48px;
    }

    .section_projets_div {
        border: 2px solid black;
        padding: 30px 10px 30px 10px;
    }

    .section_projets h4 {
        font-size: 36px;
        padding: 10px;
    }

    .section_projets_p {
        font-size: 28px;
        padding: 10px;
        font-weight: 400;
    }
    
    #p_sujet {
        font-size: 28px;
        font-weight: 400;
    }
    
    #img_mes_projets {
        width: 100px;
        height: 100px;
    }
    .fileInput{
        width: 130px;
    }
    /* choix projets */

    #choixprojet {
        margin-bottom: 0%;
        padding-bottom: 60px;
    }

    #choixprojet h2 {
        font-size: 62px;
        font-weight: 800;
        margin-bottom: 4%;
    }

    .choix_article {
        width: 90%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        height: 500px;
        justify-content: space-around;
        align-items: center;
    }

    #choix_div {
        width: 90%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    #choixprojet a {
        width: 45%;
    }

    #choixprojet a h3 {
        padding-left: 6%;
        font-size: 36px;
    }

    #choixprojet a img {
        height: 110px;
        width: 110px;
    }
    /* page devis */

    #devis_section {
        padding: 30px 20px 30px 20px;
    }

    #h1_devis {
        font-size: 52px;
        font-weight: 400;
    }

    #h6_devis {
        font-size: 20px;
        font-weight: 400;
    }

    #devis_section legend {
        font-size: 20px;
    }

    #devis_p {
        font-size: 39px;
    }

    #devis_btn {
        width: 500px;
        margin-bottom: 4%;
    }

    .ValidBtn {
        width: 40%;
        padding: 4%;
    }
    .NoValidBtn {
        width: 40%;
        padding: 4%;
    }
}

@media only screen and (min-width: 1200px) {
    .section_projets {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: start;
        align-items: center;
        justify-content: space-around;
        width: 100%;
    }
    .section_projets_div {
        height: 1000px;
        width: 30%;
    }
    #p_sujet {
        height: 200px;
        overflow: auto;
    }
    #img_mes_projets {
        width: 120px;
        height: 120px;
    }
    /* choix projets */

    #choixprojet {
        padding-bottom: 60px;
    }

    #choixprojet h2 {
        margin-bottom: 6%;
        margin-top: 0%;
    }

    .choix_article {
        width: 80%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        height: 500px;
        justify-content: space-around;
    }

    #choix_div {
        width: 90%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    #choixprojet a {
        width: 40%;
    }

    #choixprojet a h3 {
        padding-left: 4%;
        font-size: 28px;
    }
        /* page devis */

    #devis_section {
        width: 50%;
    }

    #h1_devis {
        margin-top: 0%;
        margin-bottom: 2%;
        font-size: 65px;
        text-shadow: 2px 2px black;
    }

    #h6_devis {
        margin-bottom: 3%;
    }

    #devis_btn {
        font-size: 26px;
    }

    /* page devis */

    #devis_section {
        width: 50%;
    }

    #h1_devis {
        margin-top: 0%;
        margin-bottom: 2%;
        font-size: 65px;
        text-shadow: 2px 2px black;
    }

    #h6_devis {
        margin-bottom: 3%;
    }

    #devis_btn {
        font-size: 26px;
    }
    
    .ValidBtn {
        width: 40%;
        padding: 3%;
    }
    .NoValidBtn {
        width: 40%;
        padding: 3%;
    }
}