{% extends 'base.html.twig' %}

{% block title %}Annulation de votre commande
{% endblock %}

{% block body %}
  <main class="mt-4 p-lg-5 w-100 container-md home_container">
    <h1>Nous vous remercions de votre tentative de paiement</h1>
    <p>
      Nous apprécions votre confiance, malheureusement votre paiement a échoué. 
      Si vous avez des questions, veuillez envoyer un e-mail à
      <a href="{{path('app_contact')}}">contact@soustraitesmoi.fr </a>.
    </p>
	</main>
{% endblock %}