<pre>

  <script type="text/javascript" src="https://www.vivapayments.com/web/checkout/v2/js"></script>
    <script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>


    <form action="" method="POST" id="payment-form" class="container pt-4">
      <div class="form-row">
        <label>
          <span>Name</span>
          <input type="text" size="20" name="name" autocomplete="off" value="Pedro V" />
        </label>
      </div>
      <div class="form-row">
        <label>
          <span>Phone</span>
          <input type="text" size="20" name="phone" autocomplete="off" value="963963963" />
        </label>
      </div>
      <div class="form-row">
        <label>
          <span>Email</span>
          <input type="text" size="20" name="email" autocomplete="off" value="vgspedro@gmail.com" />
        </label>
        </div>  
        <div class="form-row">
          <label>
            <span>Cardholder Name</span>
            <input type="text" size="20" name="txtCardHolder" autocomplete="off" data-vp="cardholder" value="Pedro" />
            </label>
        </div>

        <div class="form-row">
            <label>
                <span>Card Number</span>
                <input type="text" size="20" name="txtCardNumber" autocomplete="off" data-vp="cardnumber" value="4111111111111111" />
            </label>
        </div>
        <div class="form-row">
            <label>
                <span>CVV</span>
                <input type="text" name="txtCVV" size="4" autocomplete="off" data-vp="cvv" value="111" />
            </label>
        </div>
        <div class="form-row">
          <label>
            <span>Expiration (MM/YYYY)</span>
          </label>
          <input type="text" size="2" name="txtMonth" autocomplete="off" data-vp="month" value="10" />
          <span> / </span>
          <input type="text" size="04" name="txtYear" autocomplete="off" data-vp="year" value="2024" />
        </div>
        <input name="token" type="hidden">
           <div class="form-row">
        <label title="Check your VivaWallet account to see the current status of the Payment"> Payment Actions
          <select name="action">
            <option value="charge">Charge Only</option>
            <option value="authorization">Authorized</option>
            <option value="charge_capture">Charge & Capture</option>
            <option value="charge_cancel">Charge & Cancel</option>
          </select>
        </label>
      </div>
        <button class="btn btn-success" type="button" id="submit">Submit Payment </button>
    </form>
    <hr>
	<h3>Options</h3>
	Charge Only = Create a transaction to be Captured<br>
	Authorized = Create a transaction and Captured the amount<br>
	Charge & Capture = Create a transaction then Capture the amount<br>
	Charge & Cancel = Create a transaction then Cancel the transaction<br>


    <div id="threed-pane" style="height: 450px;width:500px"></div>

    <script type="text/javascript">
      $(document).ready(function () {
        VivaPayments.cards.setup({
          baseURL: '{{ payment_url }}',
          authToken: '{{ viva_token }}',
          cardHolderAuthOptions: {
            cardHolderAuthPlaceholderId: 'threed-pane',
              cardHolderAuthInitiated: function () {
                $('#threed-pane').show();
              },
              cardHolderAuthFinished: function () {
                $('#threed-pane').hide();
              }
            },
            installmentsHandler: function (response) {
              if (!response.Error) {
                if (response.MaxInstallments == 0)
                  return;
                $('#drpInstallments').show();
                for (i = 1; i <= response.MaxInstallments; i++) {
                  $('#drpInstallments').append($("<option>").val(i).text(i));
                }
              }
              else {
                toastr['error'](response.Error);
              }
            }
          });
          $('#submit').on('click', function (evt) {
            evt.preventDefault();
            VivaPayments.cards.requestToken({
              amount: {{amount}}
            }).done(function (data) {

              $('[name=token]').val(data.chargeToken)

              $('.loader').removeClass('d-none');
                setTimeout(function(){
                $.ajax({  
                  url:'{{path("payment_submit")}}',
                  type: "POST",
                  data: $('#payment-form').serialize(),
                  cache: false,
                  success: function(data){  
                    $('.loader').addClass('d-none');
                    console.log(data)
                    if (data.status == 1){
                      toastr['success']('{%trans%}success{%endtrans%} - Transaction '+data.message.transactionId);
                    }
                    else if (data.status == 0){
                      toastr['info'](data.message);
                    }
                    else{
                      for(var i in data.data)
                        obj += data.data[i]+'<br>';
                      toastr['info'](obj);
                  }
                },
                error:function(data){
                  $('.loader').addClass('d-none');
                  toastr['error']('{%trans%}wifi_error{%endtrans%}');
                }
              })
            }, 500)
            console.log(data);
          })
          .fail(function(jqXHR, textStatus){
            console.log(jqXHR.Error)
            statusCodes(jqXHR.Error.ErrorCode, jqXHR.Error.ErrorText)
          })
        });
      });

    function statusCodes(code, error){
      code = Number(code)
      if(code >= 400 && code <= 499)
        toastr['info'](code+' '+error);
      else if (code >= 500 && code <= 599)
        toastr['error'](code+' '+error);
      else
      toastr['error']('Internet connection'); 
    }

  </script>