<form>
    <div class="mb-3">
        <label for="Pn" class="form-label">Nom du projet :</label>
        <input type="text" name="Pn" value="131635454" class="form-control" disabled="disabled" aria-describedby="">
    </div>
    <div class="mb-3">
        <label for="c" class="form-label">Catégorie :</label>
        <input type="text" name="c" value="131635454" class="form-control" disabled="disabled" aria-describedby="">
    </div>
        <div class="mb-3">
        <label for="d" class="form-label">Description</label>
        <textarea type="text" name="d" class="form-control" disabled="disabled" aria-describedby="">
            vrgfzregkrzogk
        </textarea>
    </div>
</form>