
{% extends 'base.html.twig' %}

{% block title %}Nouveau Projet{% endblock %}

{% block body %}
    <a href="{{path('app_project_free')}}">Projet Libre</a>
    <a href="{{path('app_project_logo')}}">Projet Logo</a>
    <a href="{{path('app_project_reseaux')}}">Projet Réseaux sociaux</a>
{% endblock %}